<%- include('header'); %>
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 col-md-border">
                <h1 style="padding-bottom: 5px;" id="titleHeader">
                    <%= pub.name %>
                </h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row" style="margin-bottom: -15px;">
                            <label for="adress" class="col-sm-3 col-form-label">Cím: </label>
                            <div class="col-sm-9">
                                <label class="form-control" id="adress"> 
                                        <%= pub.adress %>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h3>Kapcsolat</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="tel" class="col-sm-3 col-form-label">Telefonszám:</label>
                            <div class="col-sm-9">
                                <label class="form-control" id="tel">
                                        <% if(pub.phone){ %>
                                            <%= pub.phone %>
                                        <% }else{ %>
                                            -
                                        <% }%>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="mail" class="col-sm-3 col-form-label">Email-cím:</label>
                            <div class="col-sm-9">
                                <label class="form-control" id="mail">
                                        <% if(pub.mail){ %>
                                            <%= pub.mail %>
                                        <% }else{ %>
                                            -
                                        <% }%>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="web" class="col-sm-3 col-form-label">Weboldal:</label>
                            <div class="col-sm-9">
                                <label class="form-control" id="web">
                                        <% if(pub.web){ %>
                                            <%= pub.web %>
                                        <% }else{ %>
                                            -
                                        <% }%>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h3>Képek</h3>
                <div class="row">
                    <div style="text-align: center; display: inline">
                        <img src="/images/larrow.png" width="120">
                        <div style="text-align: center; display: inline">
                            <img src="/images/bar.png" width="60">
                            <img src="/images/bar2.png" width="60">
                            <img src="/images/bar.png" width="60">
                            <img src="/images/bar2.png" width="60">
                        </div>

                        <img src="/images/rarrow.png" width="120">

                    </div>
                </div>
                <a href="/pub"> &lt;&lt; Vissza a kereséshez</a>
            </div>
            <div class="col-md-6 col-md-border">
                <h1>Értékelések</h1>
                <textarea rows="20" readonly style="resize: none; width: 100%">mauris ac elit augue. Class aptent taciti soc
                   iosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    Cras at sapien et eros consectetur laoreet iaculis sed velit. Curabitur luctus malesuada velit, 
                    vulputate bibendum ante posuere et. Mauris euismod aliquam diam, quis vulputate turpis tincidunt non.
                     Phasellus condimentum varius commodo. Nunc condimentum, ex ut sodales luctus, tortor leo egestas sem, sed venenatis nulla ex sit amet velit.
                      Nunc a gravida lacus. Proin fringilla sollicitudin auctor. Ut vel ultrices magna, id varius odio. In hac habitasse platea dictumst. In ut magna sem.
                       Donec augue nisl, ultrices sit amet arcu eu, consectetur posuere purus. Praesent neque magna, pharetra eu pulvinar sed, sodales ut urna. 
                       Praesent non massa suscipit, iaculis magna id, viverra leo.
                </textarea>
                <hr>
                <h4>Új értékelés küldése</h4>
                <form>
                    <textarea rows="3" placeholder="Nagyon jó hely. 10/10" style="resize: none; width: 100%"></textarea>
                    <input type="button" class="btn btn-succes" value="Küldés" style="float: right">
                </form>
            </div>
        </div>
    </div>
    <%- include('footer'); %>