<%- include('header'); %>
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 col-md-border">
                <h1 style="padding-bottom: 5px;" id="titleHeader">
                    <%= pub.name %>
                </h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row" style="margin-bottom: -15px;">
                            <label for="adress" class="col-sm-3 col-form-label">Cím: </label>
                            <div class="col-sm-9">
                                <label class="form-control" id="adress">
                                    <%= pub.adress %>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h3>Kapcsolat</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="tel" class="col-sm-3 col-form-label">Telefonszám:</label>
                            <div class="col-sm-9">
                                <label class="form-control" id="tel">
                                    <% if(pub.phone){ %>
                                        <%= pub.phone %>
                                            <% }else{ %>
                                                -
                                                <% }%>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="mail" class="col-sm-3 col-form-label">Email-cím:</label>
                            <div class="col-sm-9">
                                <label class="form-control" id="mail">
                                    <% if(pub.email){ %>
                                        <%= pub.email %>
                                            <% }else{ %>
                                                -
                                                <% }%>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="web" class="col-sm-3 col-form-label">Weboldal:</label>
                            <div class="col-sm-9">
                                <label class="form-control" id="web">
                                    <% if(pub.web){ %>
                                        <%= pub.web %>
                                            <% }else{ %>
                                                -
                                                <% }%>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h3>Képek</h3>
                <div class="row">
                    <div style="text-align: center; display: inline">
                        <img src="/images/larrow.png" width="120">
                        <div style="text-align: center; display: inline">
                            <img src="/images/bar.png" width="60">
                            <img src="/images/bar2.png" width="60">
                            <img src="/images/bar.png" width="60">
                            <img src="/images/bar2.png" width="60">
                        </div>

                        <img src="/images/rarrow.png" width="120">

                    </div>
                </div>
                <a href="/pub"> &lt;&lt; Vissza a kereséshez</a>
            </div>
            <div class="col-md-6 col-md-border">
                <h1>Értékelések</h1>
                <table style="table-layout: fixed;">
                    <thead>
                        <tr>
                            <th style="word-wrap:break-word; width:200px;">Értékelés</th>
                            <th>Pontszám</th>
                        </tr>
                    </thead>
                    <% for (var i = 0; i < pub._ratings.length;i++){ var rating = pub._ratings[i];  %>
                        <tr>
                            <td style="word-wrap:break-word; width:200px; max-width: 300px;"><%= rating.text %></td>
                            <td><%= rating.value %></td>
                        </tr>
                    <% } %>
                </table>
                <hr>
                <h4>Új értékelés küldése</h4>
                <form method="POST" action="/rating/add/pub/<%= pub._id %>">
                    <label for="rating_text">Értékelés: </label>
                    <textarea rows="3" placeholder="Nagyon jó hely. 10/10" style="resize: none; width: 100%" name="rating_text"></textarea>

                    <label for="rating_value">Pontszám: </label>
                    <input type="number" value="0" min="0" max="5" step="1" name="rating_value">

                    <button type="submit" class="btn btn-succes"  style="float: right">Küldés </button>
                </form>
            </div>
        </div>
    </div>
    <%- include('footer'); %>